.funk {
    background-image: linear-gradient(to bottom right, blue, purple);
}

.box {
    border: 8px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

