<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <title>All Current Bots</title>
    <link rel="stylesheet" th:href="@{${pageType == 'full' ? '/css/bootstrap.min.css' : '/css/bootstrap.grid.css'}}" />

</head>
<body>
    
    <h1 class="mx-auto" style="width: 500px;">
        <small class="text-muted">Showing all bots</small>
    </h1>

    <hr>

    <div class="container-fluid">
        <p th:text="'The date and time on the server is: ' + ${theDate}"></p>
        <p th:text="'Here are all the current bots: ' + ${allBots}"></p> <!-- need for loop -->
    </div>
    
</body>
</html>