<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <title>Control Room Homepage</title>
    <link rel="stylesheet" th:href="@{${pageType == 'full' ? '/css/bootstrap.min.css' : '/css/bootstrap.grid.css'}}" />

</head>
<body>
    
    <h1 class="mx-auto" style="width: 500px;">
        <small class="text-muted">Grant Thornton Control Room</small>
    </h1>

    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/bots/all">Show all bots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>  
        </div>
        <div class="col-sm-10">
          <p th:text="'The date and time on the server is: ' + ${theDate}"></p>
        </div>
    </div>
</body>
</html>